# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Terraform resources
terraform-provider-*
.terraform/
*.tfstate
*.backup
*.log
bin/
dist/

*.code-workspace

main.tf
*.env
*.terraform*

TODO.md

# Prevents goreleaser dirty state error, https://goreleaser.com/errors/dirty/ 
pf9-sdk-go
pf9-sdk-go/
pf9-sdk-go/*
pf9-sdk-go/**